@import "tailwindcss";

@theme {
  --color-primary: #1978e5;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111821;
  --font-display: "Geist", sans-serif;
  --font-sans: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}
